version: "3.9"

services:
  searxng:
    image: searxng/searxng
    container_name: searxng
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./settings.yml:/etc/searxng/settings.yml:ro

  bot:
    build: .
    container_name: telewebsaver-bot
    restart: unless-stopped
    depends_on:
      - searxng
    env_file:
      - .env
    environment:
      - SEARXNG_URL=http://searxng:8080
